ARTI308 - Machine Learning
# Seaborn Overview

Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics.




## Distribution Plots

Let's discuss some plots that allow us to visualize the distribution of a data set. These plots are:

* distplot
* jointplot
* pairplot
* rugplot
* kdeplot

## Imports

In [178]:
import seaborn as sns  # Import seaborn and enable inline plotting for Jupyter.
%matplotlib inline

## Data
Seaborn comes with built-in data sets!

In [179]:
tips = sns.load_dataset('tips') # Load the built-in "tips" dataset from Seaborn.

In [180]:
tips.head() # Display the first 5 rows of the "tips" dataset.

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## distplot

The distplot shows the distribution of a univariate set of observations.

In [181]:
sns.distplot(tips['total_bill'])
# Safe to ignore warnings

C:\Users\ahmad\AppData\Local\Temp\ipykernel_23532\1093071496.py:1: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  sns.distplot(tips['total_bill'])

To remove the kde layer and just have the histogram use:

In [182]:
sns.histplot(tips['total_bill'], kde=False, bins=30) # Plotting a histogram of the 'total_bill' column without KDE (Kernel Density Estimate) and setting 30 bins.

## jointplot

jointplot() allows you to basically match up two distplots for bivariate data. With your choice of what **kind** parameter to compare with: 
* “scatter” 
* “reg” 
* “resid” 
* “kde” 
* “hex”

In [183]:
sns.jointplot(x='total_bill',y='tip',data=tips,kind='scatter') # Creating a scatter plot to show the relationship between 'total_bill' and 'tip' using a jointplot.

In [184]:
sns.jointplot(x='total_bill',y='tip',data=tips,kind='hex') # Creating a hexbin plot to show the density of the relationship between 'total_bill' and 'tip'.

In [185]:
sns.jointplot(x='total_bill',y='tip',data=tips,kind='reg') # Creating a scatter plot with a regression line to show the relationship between 'total_bill' and 'tip'.

## pairplot

pairplot will plot pairwise relationships across an entire dataframe (for the numerical columns) and supports a color hue argument (for categorical columns).

In [186]:
sns.pairplot(tips) # Creating a pairplot to visualize the relationships between all pairs of columns in the 'tips' dataset.

In [187]:
sns.pairplot(tips,hue='sex',palette='coolwarm') # Creating a pairplot with the data, colored by 'sex' column and using the 'coolwarm' color palette.

## rugplot

rugplots are actually a very simple concept, they just draw a dash mark for every point on a univariate distribution. They are the building block of a KDE plot:

In [188]:
sns.rugplot(tips['total_bill']) # Creating a rug plot to visualize the distribution of the 'total_bill' column with small ticks.

## kdeplot

kdeplots are [Kernel Density Estimation plots](http://en.wikipedia.org/wiki/Kernel_density_estimation#Practical_estimation_of_the_bandwidth). These KDE plots replace every single observation with a Gaussian (Normal) distribution centered around that value. For example:

In [189]:
# Don't worry about understanding this code!
# It's just for the diagram below
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

#Create dataset
dataset = np.random.randn(25)

# Create another rugplot
sns.rugplot(dataset);

# Set up the x-axis for the plot
x_min = dataset.min() - 2
x_max = dataset.max() + 2

# 100 equally spaced points from x_min to x_max
x_axis = np.linspace(x_min,x_max,100)

# Set up the bandwidth, for info on this:
url = 'http://en.wikipedia.org/wiki/Kernel_density_estimation#Practical_estimation_of_the_bandwidth'

bandwidth = ((4*dataset.std()**5)/(3*len(dataset)))**.2


# Create an empty kernel list
kernel_list = []

# Plot each basis function
for data_point in dataset:
    
    # Create a kernel for each point and append to list
    kernel = stats.norm(data_point,bandwidth).pdf(x_axis)
    kernel_list.append(kernel)
    
    #Scale for plotting
    kernel = kernel / kernel.max()
    kernel = kernel * .4
    plt.plot(x_axis,kernel,color = 'grey',alpha=0.5)

plt.ylim(0,1)

(0.0, 1.0)

In [190]:
# To get the kde plot we can sum these basis functions.

# Plot the sum of the basis function
sum_of_kde = np.sum(kernel_list,axis=0)

# Plot figure
fig = plt.plot(x_axis,sum_of_kde,color='indianred')

# Add the initial rugplot
sns.rugplot(dataset,c = 'indianred')

# Get rid of y-tick marks
plt.yticks([])

# Set title
plt.suptitle("Sum of the Basis Functions")

Text(0.5, 0.98, 'Sum of the Basis Functions')

So with our tips dataset:

In [191]:
# Plotting a KDE (Kernel Density Estimate) plot for the 'total_bill' column.
sns.kdeplot(tips['total_bill']) 
sns.rugplot(tips['total_bill'])

In [192]:
# Plotting the KDE and rug plot for the 'tip' column.
sns.kdeplot(tips['tip'])
sns.rugplot(tips['tip'])

# Categorical Data Plots

Now let's discuss using seaborn to plot categorical data! There are a few main plot types for this:

* factorplot
* boxplot
* violinplot
* stripplot
* swarmplot
* barplot
* countplot

Let's go through examples of each!

In [193]:
# Import Seaborn for statistical plots and enable inline plotting for Jupyter.
import seaborn as sns
%matplotlib inline

In [194]:
tips = sns.load_dataset('tips') # Load the "tips" dataset from Seaborn and display the first 5 rows.
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## barplot and countplot

These very similar plots allow you to get aggregate data off a categorical feature in your data. **barplot** is a general plot that allows you to aggregate the categorical data based off some function, by default the mean:

In [195]:
sns.barplot(x='sex',y='total_bill',data=tips) # Creating a bar plot to show the total bill amounts grouped by 'sex'.

In [196]:
import numpy as np # Importing the NumPy library, commonly used for numerical operations.

You can change the estimator object to your own function, that converts a vector to a scalar:

In [197]:
sns.barplot(x='sex',y='total_bill',data=tips,estimator=np.std) # Create a bar plot that shows the standard deviation of the total_bill amounts by sex.

### countplot

This is essentially the same as barplot except the estimator is explicitly counting the number of occurrences. Which is why we only pass the x value:

In [198]:
sns.countplot(x='sex',data=tips) # Create a count plot to visualize the distribution of values in the 'sex' column.

## boxplot and violinplot

boxplots and violinplots are used to shown the distribution of categorical data. A box plot (or box-and-whisker plot) shows the distribution of quantitative data in a way that facilitates comparisons between variables or across levels of a categorical variable. The box shows the quartiles of the dataset while the whiskers extend to show the rest of the distribution, except for points that are determined to be “outliers” using a method that is a function of the inter-quartile range.

In [199]:
sns.boxplot(x="day", y="total_bill", data=tips,palette='rainbow') # Create a boxplot to visualize the distribution of 'total_bill' across different days, using the 'rainbow' color palette.

C:\Users\ahmad\AppData\Local\Temp\ipykernel_23532\64336358.py:1: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.boxplot(x="day", y="total_bill", data=tips,palette='rainbow') # Create a boxplot to visualize the distribution of 'total_bill' across different days, using the 'rainbow' color palette.

In [200]:
# Can do entire dataframe with orient='h'
sns.boxplot(data=tips,palette='rainbow',orient='h')

c:\Users\ahmad\miniconda3\Lib\site-packages\seaborn\categorical.py:383: UserWarning: Attempting to set identical low and high ylims makes transformation singular; automatically expanding.
  ax.set_ylim(n - .5, -.5, auto=None)

In [201]:
sns.boxplot(x="day", y="total_bill", hue="smoker",data=tips, palette="coolwarm") # Create a boxplot comparing the total bill for smokers vs non-smokers across different days, using the 'coolwarm' color palette.

### violinplot
A violin plot plays a similar role as a box and whisker plot. It shows the distribution of quantitative data across several levels of one (or more) categorical variables such that those distributions can be compared. Unlike a box plot, in which all of the plot components correspond to actual datapoints, the violin plot features a kernel density estimation of the underlying distribution.

In [202]:
sns.violinplot(x="day", y="total_bill", data=tips,palette='rainbow') # Create a violin plot to visualize the distribution of total bills across different days, using the 'rainbow' color palette.

C:\Users\ahmad\AppData\Local\Temp\ipykernel_23532\1618792113.py:1: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.violinplot(x="day", y="total_bill", data=tips,palette='rainbow') # Create a violin plot to visualize the distribution of total bills across different days, using the 'rainbow' color palette.

In [203]:
sns.violinplot(x="day", y="total_bill", data=tips,hue='sex',palette='Set1') # Create a violin plot to visualize the distribution of total bills across different days, differentiated by gender ('sex'), using the 'Set1' color palette.

In [204]:
sns.violinplot(x="day", y="total_bill", data=tips,hue='sex',split=True,palette='Set1') # Create a split violin plot to compare the distribution of total bills across days, with a breakdown by gender ('sex') using the 'Set1' color palette.

## stripplot and swarmplot
The stripplot will draw a scatterplot where one variable is categorical. A strip plot can be drawn on its own, but it is also a good complement to a box or violin plot in cases where you want to show all observations along with some representation of the underlying distribution.

The swarmplot is similar to stripplot(), but the points are adjusted (only along the categorical axis) so that they don’t overlap. This gives a better representation of the distribution of values, although it does not scale as well to large numbers of observations (both in terms of the ability to show all the points and in terms of the computation needed to arrange them).

In [205]:
# Create a strip plot to visualize the distribution of total bills across days, with color variations using the 'rainbow' palette.
sns.stripplot(x="day", y="total_bill", data=tips, palette='rainbow')

C:\Users\ahmad\AppData\Local\Temp\ipykernel_23532\2218845541.py:2: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.stripplot(x="day", y="total_bill", data=tips, palette='rainbow')

In [206]:
# Create a strip plot to visualize the distribution of total bills across days, adding some random noise (jitter) to the points for better visualization. The color variation is controlled using the 'rainbow' palette.
sns.stripplot(x="day", y="total_bill", data=tips,jitter=True, palette='rainbow')

C:\Users\ahmad\AppData\Local\Temp\ipykernel_23532\3038585713.py:2: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.stripplot(x="day", y="total_bill", data=tips,jitter=True, palette='rainbow')

In [207]:
# Create a strip plot to visualize the distribution of total bills across days, with different colors for each gender ('sex') using the 'Set1' color palette. Random noise (jitter) is added to the data for better clarity.
sns.stripplot(x="day", y="total_bill", data=tips,jitter=True,hue='sex',palette='Set1')

In [208]:
# Plot the distribution of total bills for different days of the week. This visualization adds jitter for clarity and separates data based on gender using the 'sex' column with the 'Set1' color palette. The dodge parameter ensures that the data points for each gender are displayed separately.
sns.stripplot(x="day", y="total_bill", data=tips,jitter=True,hue='sex',palette='Set1',dodge=True)

In [209]:
sns.swarmplot(x="day", y="total_bill", data=tips) # Visualize 'total_bill' by 'day'

c:\Users\ahmad\miniconda3\Lib\site-packages\seaborn\categorical.py:3399: UserWarning: 5.3% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)

### Combining Categorical Plots

In [210]:
sns.violinplot(x="tip", y="day", data=tips,palette='rainbow') # Visualize 'tip' by 'day' with color 'black'
sns.swarmplot(x="tip", y="day", data=tips,color='black',size=3)

C:\Users\ahmad\AppData\Local\Temp\ipykernel_23532\677603622.py:1: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `y` variable to `hue` and set `legend=False` for the same effect.

  sns.violinplot(x="tip", y="day", data=tips,palette='rainbow') # Visualize 'tip' by 'day' with color 'black'
c:\Users\ahmad\miniconda3\Lib\site-packages\seaborn\categorical.py:383: UserWarning: Attempting to set identical low and high ylims makes transformation singular; automatically expanding.
  ax.set_ylim(n - .5, -.5, auto=None)
c:\Users\ahmad\miniconda3\Lib\site-packages\seaborn\categorical.py:3399: UserWarning: 5.3% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
c:\Users\ahmad\miniconda3\Lib\site-packages\seaborn\categorical.py:383: UserWarning: Attempting to set identical low and high ylims makes transformation singular; automatically expanding.
  ax.set_ylim(n - .5, -.5, auto=None)

## catplot

factorplot is the most general form of a categorical plot. It can take in a kind parameter to adjust the plot type:

In [211]:
sns.catplot(x='sex',y='total_bill',data=tips,kind='bar') # Create a bar plot of 'total_bill' by 'sex'

# Matrix Plots

Matrix plots allow you to plot data as color-encoded matrices and can also be used to indicate clusters within the data (later in the machine learning section we will learn how to formally cluster data).

Let's begin by exploring seaborn's heatmap and clutermap:

In [212]:
import seaborn as sns  # Import necessary libraries and load the dataset
%matplotlib inline

In [213]:
flights = sns.load_dataset('flights')

In [214]:
tips = sns.load_dataset('tips')

In [215]:
tips.head() # View first 5 rows of the 'tips' dataset

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [216]:
flights.head() # View first 5 rows of the 'flights' dataset

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

## Heatmap

In order for a heatmap to work properly, your data should already be in a matrix form, the sns.heatmap function basically just colors it in for you. For example:

In [217]:
tips.head() # Check the first few rows of the 'tips' dataset

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [218]:
# Select only numeric columns for correlation calculation
numeric_tips = tips.select_dtypes(include=[np.number])

# Calculate the correlation between numeric columns
numeric_tips.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [219]:
# Select only numeric columns for correlation calculation
numeric_tips = tips.select_dtypes(include=[np.number])

# Calculate the correlation between numeric columns
sns.heatmap(numeric_tips.corr())  # Display correlation of columns

In [220]:
# Select only numeric columns from the tips dataframe
numeric_tips = tips.select_dtypes(include=[np.number])

# Compute and plot the correlation heatmap
sns.heatmap(numeric_tips.corr(), cmap='coolwarm', annot=True)

Or for the flights data:

In [221]:
flights.pivot_table(values='passengers',index='month',columns='year') # Pivot data for month vs year

C:\Users\ahmad\AppData\Local\Temp\ipykernel_23532\2849638649.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  flights.pivot_table(values='passengers',index='month',columns='year') # Pivot data for month vs year

year,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960
month,,,,,,,,,,,,
Jan,112.0,115.0,145.0,171.0,196.0,204.0,242.0,284.0,315.0,340.0,360.0,417.0
Feb,118.0,126.0,150.0,180.0,196.0,188.0,233.0,277.0,301.0,318.0,342.0,391.0
Mar,132.0,141.0,178.0,193.0,236.0,235.0,267.0,317.0,356.0,362.0,406.0,419.0
Apr,129.0,135.0,163.0,181.0,235.0,227.0,269.0,313.0,348.0,348.0,396.0,461.0
May,121.0,125.0,172.0,183.0,229.0,234.0,270.0,318.0,355.0,363.0,420.0,472.0
Jun,135.0,149.0,178.0,218.0,243.0,264.0,315.0,374.0,422.0,435.0,472.0,535.0
Jul,148.0,170.0,199.0,230.0,264.0,302.0,364.0,413.0,465.0,491.0,548.0,622.0
Aug,148.0,170.0,199.0,242.0,272.0,293.0,347.0,405.0,467.0,505.0,559.0,606.0
Sep,136.0,158.0,184.0,209.0,237.0,259.0,312.0,355.0,404.0,404.0,463.0,508.0
Oct,119.0,133.0,162.0,191.0,211.0,229.0,274.0,306.0,347.0,359.0,407.0,461.0
Nov,104.0,114.0,146.0,172.0,180.0,203.0,237.0,271.0,305.0,310.0,362.0,390.0
Dec,118.0,140.0,166.0,194.0,201.0,229.0,278.0,306.0,336.0,337.0,405.0,432.0

In [222]:
pvflights = flights.pivot_table(values='passengers',index='month',columns='year') # Store pivot table
sns.heatmap(pvflights)

C:\Users\ahmad\AppData\Local\Temp\ipykernel_23532\964743863.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pvflights = flights.pivot_table(values='passengers',index='month',columns='year') # Store pivot table

In [223]:
sns.heatmap(pvflights,cmap='magma',linecolor='white',linewidths=1) # Display the heatmap with customized color scheme

## clustermap

The clustermap uses hierarchal clustering to produce a clustered version of the heatmap. For example:

In [224]:
sns.clustermap(pvflights) # Group months and years based on similar values (passenger count)

Notice now how the years and months are no longer in order, instead they are grouped by similarity in value (passenger count). That means we can begin to infer things from this plot, such as August and July being similar (makes sense, since they are both summer travel months)

In [225]:
# More options to get the information a little clearer like normalization
sns.clustermap(pvflights,standard_scale=1)

# Regression Plots

Seaborn has many built-in capabilities for regression plots, however we won't really discuss regression until the machine learning section of the course, so we will only cover the **lmplot()** function for now.

**lmplot** allows you to display linear models, but it also conveniently allows you to split up those plots based off of features, as well as coloring the hue based off of features.

Let's explore how this works:

In [226]:
import seaborn as sns # Visualize the relationship between total_bill and tip with lmplot, adding hue to distinguish by sex
%matplotlib inline

In [227]:
tips = sns.load_dataset('tips')

In [228]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## lmplot()

In [229]:
sns.lmplot(x='total_bill',y='tip',data=tips) # Basic scatter plot with linear regression line

In [230]:
sns.lmplot(x='total_bill',y='tip',data=tips,hue='sex') # Scatter plot with color distinction for 'sex'

In [231]:
sns.lmplot(x='total_bill',y='tip',data=tips,hue='sex',palette='coolwarm') # Scatter plot with custom color palette

## Using a Grid

We can add more variable separation through columns and rows with the use of a grid. Just indicate this with the col or row arguments:

In [232]:
sns.lmplot(x='total_bill',y='tip',data=tips,col='sex') # Plot total_bill vs tip, separated by 'sex' in different columns

In [233]:
sns.lmplot(x="total_bill", y="tip", row="sex", col="time",data=tips) # Plot total_bill vs tip, separated by 'sex' in rows and 'time' in columns

In [234]:
# Plot total_bill vs tip, separated by 'day' and hue by 'sex' with custom color palette
sns.lmplot(x='total_bill',y='tip',data=tips,col='day',hue='sex',palette='coolwarm')

## Aspect and Size

Seaborn figures can have their size and aspect ratio adjusted with the **height** and **aspect** parameters:

In [235]:
sns.lmplot(x='total_bill',y='tip',data=tips,col='day',hue='sex',palette='coolwarm',
          aspect=0.6,height=8) # Adjust figure size and aspect ratio using height and aspect parameters

### Reference:

* https://seaborn.pydata.org/ - Seaborn: statistical data visualization


* https://seaborn.pydata.org/tutorial/color_palettes.html - Color palettes